<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7 not-ready" lang="da" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8 not-ready" lang="da" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9 not-ready" lang="da" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="not-ready" lang="da" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>

	<title>WHIL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=1024" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link type="text/css" rel="stylesheet" media="all" href="/src/css/include.css" />
</head>

<body class="articles">

<form novalidate>

<div id="page">

	<div id="header">
		<div class="shadow">
			<div id="navigation">
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/meditate.html">Meditate now</a></li>
					<li class="haschildren current">
						<a>Features</a>
						<ul>
							<li><a href="/articles.html">Meditation</a></li>
							<li><a href="/articles.html">Community</a></li>
							<li><a href="/articles.html">Sport</a></li>
							<li><a href="/articles.html">Travel</a></li>
							<li><a href="/articles.html">Business</a></li>
							<li><a href="/articles.html">Fashion</a></li>
							<li><a href="/articles.html">All</a></li>
						</ul>
					</li>
					<li class="haschildren">
						<a>World of Whil</a>
						<ul>
							<li><a href="/philosophy.html">Philosophy</a></li>
							<li><a href="/founders.html">Founders</a></li>
							<li><a href="/book.html">Chip's book</a></li>
							<li><a href="/shop.html">Shop</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="search">
				<fieldset>
					<div class="field string">
						<label for="search_string">Search</label>
						<input type="text" id="search_string" data-url="/search.html" />
					</div>
				</fieldset>
				<ul class="actions">
					<li class="search"><input type="submit" name="header_0$searchfield_0$search_button" value="Search" id="search_button" /></li>
				</ul>
				<div class="autocomplete" data-service="http://dev.whil.i2m/services/AutoCompleteService.ashx"></div>
			</div>
		</div>
	</div>

	<div id="content">

		<div class="articles articlegrid" data-service="/frontendarticles.txt" data-container="" data-key="" data-template="articlegridtemplate">
			<script id="articlegridtemplate" type="text/x-jsrender">
                <div class="boxes">
                   {{for rows}}
			       <div class="horBoxes">
                        {{for items}}
					    <div class="box{{if Size == 2}} big{{/if}}{{if Image}} image{{/if}}" {{if Image}}style="background-image: url(&quot;{{>Image}}&quot;);"{{/if}}>
						    <div class="article_exerpt">
							    <div class="info">
								    <div class="category">{{:Category}}</div>
							    </div>
							    <h2>{{:Headline}}</h2>
							    <p>{{:IntroText}}</p>
							    <ul class="actions">
								    <li class="more"><a href="{{>Url}}">Read more</a></li>
							    </ul>
								{{if Video}}<div class="play"></div>{{/if}}
						    </div>
					    </div>
                        {{/for}}
				    </div>
                    {{/for}}
			    </div>
            </script>

			<div>
				<a href="javascript:void(0)" class="load-more">Load more</a>
			</div>
		</div>

	</div>

	<div id="footer">
		<ul class="servicenavigation">
			<li class="copyright">&copy; 2012 All rights reserved</li>
			<li><a href="/terms.html">Terms of use</a></li>
			<li><a href="/privacy.html">Privacy policy</a></li>
			<li>
				<a>Contact</a>
				<div class="slideup contact">
					<div class="close"></div>
					<div class="contactinfo">
						<h3>Get in touch</h3>
						<div class="email"><a href="mailto:info@whil.com">info@whil.com</a></div>
						<div class="email"><a href="mailto:editor@whil.com">editor@whil.com</a></div>
					</div>
				</div>
			</li>
			<li>
				<a>News &amp; Updates</a>
				<div class="slideup news">
					<div class="close"></div>
					<div class="maillist" data-service="http://dev.whil.i2m/services/NewsAndUpdatesService.ashx" data-container="sitecore%3a%2f%2fweb%2f%7b3D14712C-D6C4-4E41-86E7-6E60A7234418%7d%3flang%3den%26ver%3d1" data-key="Ez6Im3M8SHKAzB5YaDdTBk5h0V9FFomiqR41YfMd32I%3d">
						<div class="signup">
							<h3>Receive updates and news</h3>
							<fieldset>
								<div class="field email">
									<label for="signup_news">Enter email</label>
									<input type="email" name="signup_email" id="signup_news" class="signup_email" />
								</div>
							</fieldset>
							<ul class="actions">
								<li class="signup"><input type="submit" name="signup_button" value="Submit" /></li>
							</ul>
						</div>
						<div class="receipt">
							<h3>Thanks. You’re all set.</h3>
						</div>
						<div class="error">
							<h3>Whoops! Something went wrong.</h3>
							<ul class="actions">
								<li><a href="">Try again</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="top"><a href="javascript:void(0);">To the top</a></li>
		</ul>
	</div>
</div>

</form>

<!-- JS includes start -->
<!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="/lib/jquery/jquery-1.8.1.min.js"><\/script>')</script>
<script data-main="/src/js/main.js" src="/lib/jquery/require.js"></script>

</body>
</html>